{:rename-macros {}, :renames {}, :externs {document {getElementById {}}}, :use-macros {}, :excludes #{}, :name study.main, :imports nil, :requires {r reagent.core, reagent.core reagent.core}, :cljs.spec/speced-vars [], :uses nil, :defs {some-component {:protocol-inline nil, :meta {:file "/Users/jokerwolf/Repository/cljs-study/src/cljs/study/main.cljs", :line 5, :column 7, :end-line 5, :end-column 21, :arglists (quote ([]))}, :name study.main/some-component, :variadic false, :file "src/cljs/study/main.cljs", :end-column 21, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 5, :end-line 5, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}, :cljs.spec/registry-ref [], :require-macros {r reagent.core, reagent.core reagent.core}, :cljs.analyzer/constants {:seen #{:color :strong :p.someclass :style :div :h3 :span}, :order [:div :h3 :p.someclass :strong :span :style :color]}, :doc nil}